<%= render 'shared/header' %>
<section class="spot-show content-width">
  <div class="spot-block">
    <div class="spot-info">
      <div class="spot-name">
        <h1><%= @spot.name %></h1>
      </div>
      <i class="fas fa-regular fa-map-pin"></i>
      <span class="spot-address"><%= @spot.address %></span>
    </div>
  </div>
</section>
