<span class="close-about"><i class="far fa-times-circle"></i></span>
<div class="about-content">
  <div class="left-about-block"></div>
  <div class="right-about-block">
    <h2 class="about-title">ようこそMediSpotへ！</h2>
    <p>
      MediSpotは、都内でヨガ・瞑想の体験ができるスポットを、
      ユーザーの体験レビューをもとに検索できるWebサービスです。
    </p>
    <p>
      貴方は「瞑想」と聞いて何を思い浮かべるでしょうか？<br>
      「目を閉じて雑念を払い、静かに思いをめぐらすこと。」
      広辞苑にはそう書いてあります。フワッとしています。

      もし瞑想に興味がおありなら、語義よりも実際の声や体験からの方が多く学べるかもしれません。
      MediSpotは瞑想スポットの検索サービスですが、エリアや施設名だけでなく、
      ユーザーの体験レビューを頼りにした検索が可能となっています。
      「体験が新しい体験を生む」という瞑想にはこの価値観を大事にしています。
    </p>
    <p>
      MediSpotはまだまだ機能不足ですが、楽しんでいただけたら幸いです。
      1人でも多くの方が素敵な体験を得られるサービスになるよう、今後も開発を進めて参ります。
    </p>
    <p>瞑想スポット検索Webサービス「MediSpot」</p>
  </div>
</div>


<script>
  $('.close-about').click(function(){
    $('.about-page').hide();
  });
</script>
