<span class="close-about"><i class="far fa-times-circle"></i></span>
<div class="about-content">
  <div class="left-about-block"></div>
  <div class="right-about-block">
    <h2 class="about-title">ようこそMediSpotへ！</h2>
    <p>
      MediSpotは、都内でヨガ・瞑想の体験ができるスポットを、
      ユーザーの体験レビューをもとに検索できるWebサービスです。
    </p>
    <p>
      突然ですが、貴方は「瞑想」についてご存知ですか？あまり聞き慣れない言葉かも知れません。
    </p>
    <p>
      「目を閉じて雑念を払い、静かに思いを巡らせること。」
    </p>
    <p>
      広辞苑にはそう書いてあります。フワリとしています。<br>
      瞑想を知るには、実際の声や体験からの方が多く学べるかもしれません。<br>
      MediSpotは瞑想スポットの検索サービスですが、場所だけでなく、
      ユーザーの体験レビューを元にした検索が可能となっています。<br>
      皆さんの声を頼りに、瞑想が私たちに何を与えてくれるのか、肌で感じられるようなサービスを目指しています。
    </p>
    <p>
      まだまだ機能不足ですが、1人でも多くの方に意味ある瞑想体験をお届けできるよう、今後も開発を進めていきます。
    </p>
    <p>瞑想スポット検索Webサービス「MediSpot」 開発者 川口</p>
  </div>
</div>


<script>
  $('.close-about').click(function(){
    $('.about-page').hide();
  });
</script>
