<span class="close-about"><i class="far fa-times-circle"></i></span>
<div class="about-content">
  <div class="left-about-block"></div>
  <div class="right-about-block">
    <h2 class="about-title">ようこそMediSpotへ！</h2>
    <p>
      MediSpotは、都内で瞑想・ヨガの体験ができるスポットを、
      ユーザーの体験レビューをもとに検索できるWebサービスです。
    </p>
    <p>
      突然ですが、貴方は「瞑想」についてご存知ですか？あまり聞き慣れない方もいらっしゃるかと思います。
    </p>
    <p>
      「目を閉じて雑念を払い、静かに思いを巡らせること。」
    </p>
    <p>
      広辞苑にはそう書いてありますが、フワリとしています。
      実際に体験した声が集まれば、もっと多くを学べるかも知れません。<br>
      MediSpotでは場所だけでなく、ユーザーの体験レビューを元にしたスポット検索が可能となっています。<br>
      検索しながら、「瞑想ってこんな効果があるんだ」といった発見ができるサービスを鋭意製作中です。
    </p>
    <p>
      まだまだ機能不足ですが、1人でも多くの方に意味ある情報をお届けできるよう、今後も開発を進めていきます。
    </p>
    <p>瞑想スポット検索Webサービス「MediSpot」 開発者 川口</p>
  </div>
</div>


<script>
  $('.close-about').click(function(){
    $('.about-page').hide();
  });
</script>
