<footer>
  <div class="footer-logo">
    <%= link_to root_path, class:'footer-link contents-tidy' do %>
      <%= image_tag('logo.png') %>
      <h3 class="footer-logo-title">MediSpot</h3>
    <% end %>
  </div>
</footer>
