.home {
  .top-block{
    display: none;
    color: white;
    position:relative;
    padding: 200px 150px;
    background-image: image-url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .catchcopy{
      display: inline-block;
      font-size: 31px;
      background-color: #9B521F;
      border-radius: 5px;
      padding: 30px 40px;
     
    }
    .search-block{
      position: absolute;
      bottom: -60px;
      left: 50%;
      transform: translateX(-50%);
      width:80%;
      height:120px;
      border: solid 1px #e1e1e1;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: 1px 1px 1px gray;
      background-color: white;
      .search-box{
        width:80%;
        height: 50%;
        .form{
          width:40%;
          height: 60px;
          border: 1px solid #d6ceb4;
        }
        .submit{
          width:15%;
          height: 60px;
        }
      }
    }
  }
  .main-section{
    justify-content: space-between;
    flex-flow: row;
    align-items: flex-start;
    padding: 0 40px;
    padding-top: 100px;
    background-color: #FDFCFB;
    .block-title {
      margin-bottom: 5px;
      font-size: 17px;
    }
    .spot-block{
      width:70%;
    }
    .spot-box-block {
      display: flex;
      flex-wrap: wrap;
    }
    .spot-box{
      display: flex;
      justify-content: space-between;
      width: calc(50% - 45px);
      min-width: 400px;
      padding: 15px;
      margin-right: 10px;
      background-color: white;
      align-items: flex-start;
      border-bottom: 1px solid #CCCCCC;
      &:first-child, &:nth-child(2){
        border-top: 1px solid #CCCCCC;
      }
      .spot-info{
        margin-top: 5px;
        padding-right: 15px;
        .spot-name {
          font-size: 16px;
          margin-bottom: 4px;
        }
        .spot-address {
          font-size: 15px;
          margin-top: 7px;
        }
      }
    }
    .spot-img{
      padding: 3px;
      img{
        width: 200px;
        height: 170px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #999;
      }
    }
    .review-block{
      width: 30%;
      min-width: 400px;
      margin-left: 10px;
      .review-scroll{
        height: 843px;
        overflow-y: scroll;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
      }
    }
    .recent-review-box{
      background-color: white;
      padding: 15px;
      &:last-of-type {
        border-bottom: none;
      }
      .left-block {
        width: 60%;
        min-width: 180px;
        padding-right: 10px;
        .name {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 4px;
        }
        .title {
          font-size: 15px;
          padding: 9px 0;
        }
        .text {
          font-size: 14px;
          margin-bottom: 10px;
        }
        .reviewer-info {
          margin-left: 5px;
          margin-right: 10px;
          font-size: 14px;
          .review-date {
            color: gray;
            font-size: 13px;
          }
          p {
            margin-top: 2px;
            line-height: 1em;
          }
        }
      }
      .right-block .spot-thumbnail img {
        width: 180px;
        height: 140px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #999;
      }
    }
  }
}
