.like-btn{
  display: none;
  position: relative;
  &.active{
    display: inline-flex;
    align-items: center;
  }
  img{
    width:15px;
    padding-right: 5px;
  }
  #like_count{
    font-size: 20px;
  }
}
