<p>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</p>
<p>▼メールアドレス認証のお願い　</p>
<p>--------------------------------------------------------------</p>
<p>※　まだユーザ登録は完了していませんのでご注意ください　※</p>
<p>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</p>

<p>このたびはMediSpotユーザ登録のお手続き、誠にありがとうございます。</p>
<p>下記のリンクをクリックするとメール認証およびユーザ登録が完了します。</p>
<p>↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓</p>

<p>--------------------------------------------------------------</p>
<p>
  <%= link_to 'ユーザ登録を完了する', controller: 'users/confirmations', action: 'show', confirmation_token: @token %>
</p>
<p>--------------------------------------------------------------</p>

<p>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</p>
<p>■ご注意</p>
<p>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━☆彡</p>

<p>※このメールは送信専用です。返信をいただきましても</p>
<p>ご対応いたしかねますので、予めご了承ください。</p>

<p>※このメールは、MediSpot登録のお手続きが行われた</p>
<p>メールアドレス宛に自動送信しております。</p>
<p>登録手続きにお心当たりの無い場合は、お手数ですが、</p>
<p>リンクをクリックせずにメールを破棄していただきますよう</p>
<p>お願いいたします。</p>

<p>●○━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓</p>

<p>■瞑想スポット検索Webサービス「MediSpot」</p>

<p>┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━□■</p>

